body {
    background-color: lightblue;
    color:darkcyan;
}
main {
    color:white;

}

article{
    border: darkred  1px solid;
    margin: 18px 20px;

}
nav [rol=mainNav] li
{
    list-style: none;
    background-color: antiquewhite;
    padding : 10px;
    margin: 10px;

}
li [rol=mainNav] a
{
 text-transform: uppercase;
    text-decoration: brown;
    text-space: 1px;
}